*{
	margin: 0;
	padding: 0;
}
body{
	background: #ffffff;
	font-family: "sans-serif";
}
.wrap{
	width: 100%;
	margin: 0 auto;
}
ul li{
	list-style: none;
}
img{
	border: none;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input{
	outline: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}  
input[type="button"]{ border-radius: 0; } 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 4vw;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 4vw;
}
input:-ms-input-placeholder{
	font-size: 4vw;
}
input::-webkit-input-placeholder{
	font-size: 4vw;
}
/*头部*/
.top_productBrand{
	width: 100%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	background: #FFFFFF;
	border-bottom: 1px solid #ccc;	
}
.top_productBrand ul{
	width: 100%;
	margin: 0 auto;
	height: 40px;
}
.top_productBrand ul li{
	float: left;
}
.back_productBrand,.menu_productBrand{
	width: 10%;
	text-align: center;
}
.back_productBrand img,.menu_productBrand img{
	width:60%;
}
.top_productBrand_title{
	width: 80%;
	text-align: center;
	font-size: 4.5vw;
}

/*隐藏内容*/
.hide_user{
	width: 60%;
	float: right;
	background: #F1F1F1;
	border-radius: 12px;
	position: relative;
	z-index: 11;
	margin-top: -4%;
}
.hide_user ul{
	width: 100%;
}
.hide_user ul>li{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #DCDCDE;
}
.hide_user ul li a{
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 4vw;
}
/*未登录时*/
.first{
	margin-top: 20px;
}
.first ul{
	width: 50%;
	margin:0 auto;
}
.first ul>li{
	width: 33%;
	float: left;
	text-align: center;
}
/*登录后*/
.first_after{
	height: 80px !important;
	line-height: 80px !important;
}
.first_after ul{
	width: 100%;
	margin:0 auto;
}
.first_after ul>li{
	width: 50%;
	float: left;
	height: 80px !important;
	line-height: 80px !important;
}
.first_after ul>li img{
	width: 60px;
	margin-top: 10px;
}
.last{
	border: none !important;
}
/*头部结束*/

/*中间内容*/
.content{
	width: 100%;
	margin: 0 auto;
	position:absolute;
	z-index: 10;
	margin-bottom: 20px;
}
/*banner图*/
.mainpic{
	width:100%;
	margin: 0 auto;
	overflow: hidden;
	height: 11em;
	position: relative;
	margin-bottom: 2%;
}
.pics{
	width: 100%;
	overflow: hidden;
	height: 11em;
}
.pics li{
	display: none;
	height: 11em;
}
.pics li img{
	width: 100%;
	height: 100%;
}
.nums{
	position:absolute;
	bottom: 1em;
	left: 38%;
	z-index:1;
}
.nums li{
	float:left;
	width:8px;
	height:8px;
	background:#ddd;
	border-radius:18px;
	margin-right:12px;
	cursor:pointer !important;
}
.nums li.current{
	background:#aaa;
}
/*分享*/
.hide_share{
	width: 100%;
	background: #FAFAFA;
	position: fixed;
	bottom: 0;
	left:0;
	z-index: 12;
}
.hide_share ul li{
	width: 25%;
	float: left;
}
/*商品价格*/
.content_title_productBrand{
	width: 100%;
	margin: 0 auto;
}
.title_one{
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.price_productDetials{
	width: 100%;
	margin: 3% auto;
}
.price_productDetials ul li{
	float: right;
	width: 32.5%;	
    height: 30px;
    line-height: 30px;
}
.price_productDetials ul li:nth-child(2){
	font-size: 8vw;
	color: #E90000;
}
.price_productDetials ul li:nth-child(1){
	font-size: 3vw;
	color: #A9A9A9;
	text-align: center;
}
.content_title_productBrand span{
	clear: both;
	float: right;
}
.surplus_productBrand{
	clear: both;
	width: 95%;
	text-align: right;
	font-size: 3vw;
	color: #A9A9A9;
}
.title_content{
	width: 100%;
	margin: 4% auto;
	text-align: center;
	font-size: 5vw;
	font-weight: 800;
}
.product_introduction{
	width: 96%;
	margin: 2% auto;
	font-size: 4vw;
	line-height: 1.5em;
}
.tab_content_product{
	width: 100%;
	margin: 3% auto;    
	height: 2em;
	border-bottom: 1px solid #ccc;        
}
.tab_content_product ul li{
	float: left;
	width: 33.33%;
	text-align: center;
	list-style: none;
}
.tab_content_product ul li a{
	text-decoration: none;
	color: #000;
	display: inline-block;
}
.active a{
	color: #E90000 !important;
	border-bottom: 2px solid #E90000;
}
.brand_content{
	width: 96%;
	margin: 0 auto;
}
.brand_content ul>li{
	list-style: none;
	float: left;
}
.brand_content ul>li div{
	line-height: 1.4em;
}
.brand_content ul>li:nth-child(1){
	width: 30%;	
}
.brand_content ul>li:nth-child(2){
	width: 67%;	
	padding-left: 3%;
}
/*中间内容结束*/

/*中间内容结束*/
.layer_productBrand{ 
    position: absolute;
    z-index: 9999;
    top: 30%;
    left:17%;
    width: 66%;
    background: #fff;
    border: 1px solid #E7E7E8;
    border-radius: 5px;
}
.con_productBrand{
    color: #E90000;
    text-align: center;
    padding: 15% 0;
}
/*底部开始*/
.foot_productBrand{
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 11;
}
.foot_productBrand ul li{
	list-style: none;
	float: left;
	text-align: center;
	height: 3em;
	line-height: 3em;
}
.foot_productBrand ul li:nth-child(1){
	border-right: .1px solid #ccc;
}
.foot_productBrand ul li:nth-child(1),
.foot_productBrand ul li:nth-child(2){
	width: 19.86545%;
	color: #aaa;
	border-top: 1px solid #ccc;
	background: #fff;
	line-height: 1em;
}
.foot_productBrand ul li:nth-child(3),
.foot_productBrand ul li:nth-child(4){
	width: 30%;
	color: #fff;
}
.foot_productBrand ul li:nth-child(3){
	background: #333333;
}
.foot_productBrand ul li:nth-child(4){
	background: #E90000;
}
.foot_productBrand ul li div{
	font-size: 3vw;
	color: #aaa;
}
/*底部结束*/